<hr />

{{- if .Params.GitHubIssueId }}
	{{ $gitHubIssueUrl := replace "https://github.com/dotnetjunkie/blog/issues/{0}" "{0}" .Params.GitHubIssueId }}
	{{ $gitHubApiUrl := replace "https://api.github.com/repos/dotnetjunkie/blog/issues/{0}/comments" "{0}" .Params.GitHubIssueId }}
	<p id="dynamic_comments" onscroll="loadCommentsWhenVisible()">
		<div id="dynamic_comments_noscript" class="noprint">
			<br />
			The comments are not loaded because you disabled JavaScript. That's okay—I disable JavaScript myself all the time.
			The comments for this blog post are loaded dynamically from GitHub. To read these comments,
			just click <a href="{{ $gitHubIssueUrl }}">here</a>.
			<br />
			<br />
			<hr />
		</div>
	</p>

	<h2 id="wish-to-comment" class="noprint">Wish to comment?</h2>
 
	<p class="noprint">You can add a comment to this post by commenting on <a href="{{ $gitHubIssueUrl }}">this GitHub issue</a>.</p>
	<script type="text/javascript" src="{{ "js/gitHubCommentIntegration.js" | relURL }}"></script>
	<script type="text/javascript">
		var pageIsViewedForPrinting = document.getElementById('wish-to-comment').style.display == 'none';
		gitHubCommentIntegration.init('dynamic_comments', '{{ $gitHubApiUrl }}', pageIsViewedForPrinting);
		document.getElementById('dynamic_comments_noscript').remove();
	</script>			
{{- else }}
	<h2 id="wish-to-comment" class="noprint">Wish to comment?</h2>

	<p class="noprint">I'm sorry, but commenting is currently turned off for this blog post.</p>
{{- end }}	

<hr class="noprint" />

<h2 id="found-a-typo" class="noprint">Found a typo?</h2>

<p class="noprint">The MarkDown file of this blog post can be found <a href="https://github.com/dotnetjunkie/blog/tree/master/content/{{ replace .File.Path "\\" "/" }}">here</a>. I accept pull requests.</p>
 
<hr class="noprint" />

<h2 id="buy-my-book">Buy my book</h2>

<p style="margin-right:7%">
<a href="https://cuttingedge.it/book/" class="noprintlink"><img loading="lazy" decoding="async" src="/steven/images/book%20cover%20smaller.png" style="float:left;margin-right:10px;margin-bottom:5px;border:0px solid" title="Dependency Injection Principles, Practices, and Patterns" alt="Dependency Injection Principles, Practices, and Patterns Cover Small" /></a>
I coauthored the book <a href="https://cuttingedge.it/book/">Dependency Injection Principles, Practices, and Patterns</a>. If you're interested to learn more about DI and software design in general, consider reading my book.
Besides English, the book is available in
<a href="https://cuttingedge.it/book/chinese/" rel="noreferrer">Chinese</a>,
<a href="https://cuttingedge.it/book/italian/" rel="noreferrer">Italian</a>,
<a href="https://cuttingedge.it/book/polish/" rel="noreferrer">Polish</a>, and
<a href="https://cuttingedge.it/book/russian/" rel="noreferrer">Russian</a>.
</p>