<h1 class="post-title">{{ .Title }}</h1>

{{- if or .Params.Reviewers .Params.Proofreaders }}
	<div class="post-info">
	
		{{- if .Params.Reviewers }}
		
			{{ $.Scratch.Set "reviewersHtml" .Params.Reviewers }}
		
			{{- range $reviewerData := .Site.Params.reviewers }}
				{{ $html := $.Scratch.Get "reviewersHtml" }}
				{{ $reviewerName := index $reviewerData 0 }}
				{{ $reviewerUrl := index $reviewerData 1 }}
				{{ $reviewerHtml := "{0}{1}{2}{3}{4}" }}
				{{ $reviewerHtml := replace $reviewerHtml "{0}" "<a href=\"" }}
				{{ $reviewerHtml := replace $reviewerHtml "{1}" $reviewerUrl }}
				{{ $reviewerHtml := replace $reviewerHtml "{2}" "\" class=\"noprintlink\" rel=\"noreferrer\">" }}
				{{ $reviewerHtml := replace $reviewerHtml "{3}" $reviewerName }}
				{{ $reviewerHtml := replace $reviewerHtml "{4}" "</a>" }}
				{{ $html := replace $html $reviewerName $reviewerHtml }}
				{{ $.Scratch.Set "reviewersHtml" $html }}
			{{- end }}

			<span>Reviewed by </span> {{ safeHTML ($.Scratch.Get "reviewersHtml") }}
			
			{{- if .Params.Proofreaders }}
			—
			{{- end }}
		{{- end }}
		
		{{- if .Params.Proofreaders }}
		
			{{ $.Scratch.Set "proofreadersHtml" .Params.Proofreaders }}
		
			{{- range $reviewerData := .Site.Params.reviewers }}
				{{ $html := $.Scratch.Get "proofreadersHtml" }}
				{{ $reviewerName := index $reviewerData 0 }}
				{{ $reviewerUrl := index $reviewerData 1 }}
				{{ $reviewerHtml := "{0}{1}{2}{3}{4}" }}
				{{ $reviewerHtml := replace $reviewerHtml "{0}" "<a href=\"" }}
				{{ $reviewerHtml := replace $reviewerHtml "{1}" $reviewerUrl }}
				{{ $reviewerHtml := replace $reviewerHtml "{2}" "\" class=\"noprintlink\" rel=\"noreferrer\">" }}
				{{ $reviewerHtml := replace $reviewerHtml "{3}" $reviewerName }}
				{{ $reviewerHtml := replace $reviewerHtml "{4}" "</a>" }}
				{{ $html := replace $html $reviewerName $reviewerHtml }}
				{{ $.Scratch.Set "proofreadersHtml" $html }}
			{{- end }}		
		
			<span>Proofread by </span> {{ safeHTML ($.Scratch.Get "proofreadersHtml") }}
			
		{{- end }}
	</div>
{{- else }}
	
{{- end }}

